<h2> Favorites </h2>

<a href="../../d3_templates/bar/roundedbarsSoccerSimulation.html">rounded bars, viz mimicking soccer viz, opacity</a>
<br>
<a href="../../d3_templates/bar/dualStackedPercentTransitions_awesome.html">3 buttons, transition from dual vertical to stacked to 100%</a>
<br>
<a href="../../d3_templates/bar/barTransitionThreeDatasets.html">sexy bars transitioning between 3 buttons</a>
<br>
<a href="../../d3_templates/bar/3datasetsOrdinalBandsTwoBarsQuality.html">ordinal rangebands, nice hover w text, toggle buttons </a>
<br>
<a href="../../d3_templates/bar/barHoverOne.html">great hover example with axis</a>
<br>
<a href="../../d3_templates/bar/HierarchalHorizontal/barHierarchalGotham.html">Hierarchal drilldown into bars, effective sexpot viz</a>
<br>

<h2> Other templates </h2>

<a href="../../d3_templates/bar/sixHorizontalBarsHover.html">Six horizontal bars, hover, used in Social MS Win8 initial report</a>
<br>
<a href="../../d3_templates/bar/BarChartConstancy/barChart.html">Constancy, bar w dropwdown filter</a>
<br>
<a href="../../d3_templates/bar/barToggleDatawLabels.html">toggle data text output based on buttons</a>
<br>
<a href="../../d3_templates/bar/barToggleTwoDatasets.html">simple toggle color based on button, sanity check bttons working</a>
<br>
<a href="../../d3_templates/bar/redditExDropdownFilterHoverImages.html">Ians Reddit example, hover, dropdown filter</a>
<br>
<a href="../../d3_templates/bar/stackedAndGrouped.html">Stacked and Grouped, bostocks ex</a>
<br>
<a href="../../d3_templates/bar/hoverBarThickBars/hoverBar.html">thick, hover bars</a>
<br>
<a href="../../d3_templates/bar/mostBasicHorizontalBar/bar.html">simple horizontal example</a>
<br>
<a href="../../d3_templates/bar/stdBarWithHover.html">Standard, but bold, bar with hover</a>
<br>
<a href="../../d3_templates/bar/goodTextTransition.html">good text transition triggered by buttons</a>
<br>

<h2> templates, URLS </h2>